// ==========================================================================
//
// VARIABLES
//
// ==========================================================================


// $Fonts
// --------------------------------------------------------------------------

$font-size:             112.5                                       !default;
$font-size-alt:         $font-size * 0.75                           !default;  
$font-base:             16 * ($font-size / 100);
$font-base-alt:         16 * ($font-size-alt / 100);
$font-base-small:       80%                                         !default;
$font-ratio:            1.618                                       !default;

$font-family:           serif                                       !default;
$font-family-sans:      sans-serif                                  !default;
$font-family-mono:      monospace                                   !default;
$font-weight:           normal;
$font-weight-small:     600                                         !default;

$font-unit:             rem                                         !default;


// $Lines
// --------------------------------------------------------------------------

$line-height:           1.65                                        !default;
$line-length:           $font-size * 30 / 100                       !default;


// $Paragraphs
// --------------------------------------------------------------------------

$paragraph-indent:      1.5em                                       !default;
$paragraph-style:       block                                       !default;
$paragraph-justify:		false										!default;


// $Ampersands
// --------------------------------------------------------------------------

$amp-fontface-name: Ampersand;
$amp-fontface-source: local('ACaslonPro-Italic'), local('Baskerville'), local('Palatino'), local('Book Antiqua');
$amp-fontface-fallback: local('Georgia');


// $Grid
// --------------------------------------------------------------------------

$grid-width:            100%                                         !default;
$grid-gutter:           1.5#{$font-unit}                             !default;
$grid-columns:          12                                           !default;


// $Color
// --------------------------------------------------------------------------

$color-body:            #3d3f3e                                     !default;
$color-heading:         #282828                                     !default;
$color-brand:           #c22129                                     !default;
$color-highlight:       #feeec3                                     !default;
$color-gray:            #979797                                     !default;

$color-link:            $color-brand                                !default;
$color-link-background: transparent                                 !default;


// $Includes
// --------------------------------------------------------------------------

$use-basic:				false										!default;
$use-extended:			false										!default;
$use-headings:			false										!default;
$use-ampersands:		false										!default;
$use-media:				false										!default;
$use-lists:				false										!default;
$use-quotes:			false										!default;
$use-code:				false										!default;
$use-forms:				false										!default;
$use-tables:			false										!default;
$use-print:				false										!default;