// ==========================================================================
//
// TYPE
//
// ==========================================================================


// $Body Copy
// --------------------------------------------------------------------------

@mixin body-copy {
    max-width:      $line-length + em;
    word-wrap:      break-word;
    hyphens:        auto; // http://trentwalton.com/2011/09/07/css-hyphenation
    
    @if $paragraph-justify == true {
        text-align:     justify;
        text-justify:   inter-word;
    }
}


// $Paragraph Styles
// --------------------------------------------------------------------------

@mixin paragraph-style( $style ) {

    @if $style == indented {
        margin: 0 0 $line-height * 1em;

        & + p {
            //siblings indentation
            text-indent: $indent-val;
        }
    }

    @if $style == block {
        margin-top:     $line-height * 1em;
        margin-bottom:  0;
    }
}


// $Dropcaps
// --------------------------------------------------------------------------

@mixin dropcap( $size: 3, $font: inherit, $color: $color-heading ) {
    p:nth-of-type(1) {
        &:first-letter {
            float:          left;
            margin:         11px 0 -5px 0; 
            padding:        0 .1em 0 0;

            font-size:      $line-height * $size#{$font-unit};
            font-family:    $font;
            line-height:    .85em; 
            height:         .7em;

            color:          $color;
        }
    }
}


// $Smallcaps
// --------------------------------------------------------------------------
// http://blog.hypsometry.com/articles/true-small-capitals-with-font-face

@mixin smallcaps( $color: $color-body, $weight: $font-weight-small ) {
    // depends on the font family.
    // some font-families don't support small caps
    // or don't provide them with their web font.
    font-variant:   small-caps;
    font-weight:    $weight;
    text-transform: lowercase;
    color:          $color;
}


// $Pull Quotes
// --------------------------------------------------------------------------
// http://24ways.org/2005/swooshy-curly-quotes-without-images

@mixin pull-quotes( $font-size: 4em, $opacity: .15 ) {
    position:   relative;
    padding:    0 0 0 $font-size / 1.5;
    margin:     $line-height#{$font-unit} 0 0;
    max-width:  $line-length#{$font-unit};

    &:before {
        content:    '“';
        position:   absolute;
        top:        -.3em;
        left:       0em;

        font-size:  $font-size;
        opacity:    $opacity;
    }       
}


// $Cite Style
// --------------------------------------------------------------------------

@mixin cite-style( $display: block, $text-align: right, $font-size: .875em ) {
    display:    $display;
    font-size:  $font-size;
    text-align: $text-align;
}


// $List Style
// --------------------------------------------------------------------------

@mixin list-style( $style ) {
    // lining style
    @if $style == normal {
        padding-left:   $paragraph-indent;
        margin-top:     $line-height * 1em;
        margin-bottom:  0;
    }

    @if $style == unstyled {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    @if $style == menu {
        margin: 0;
        padding-left: 0;
        list-style: none;

        li {
            float: left;
            margin-left: $indent-value;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}


// $Definition List Style
// --------------------------------------------------------------------------
// http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css

@mixin definition-style( $style ) {

    // lining style
    @if $style == lining {
        dt,
        dd {
            display: inline;
            margin: 0;
        }

        dt,
        dd {

            & + dt {

                &:before {
                    content: "\A";
                    white-space: pre;
                }
            }
        }

        dd {
            & + dd {

                &:before {
                    content: ", ";
                }
            }

            &:before {
                content: ": ";
                margin-left: -0.2rem; // removes extra space between the dt and the colon
            }
        }
    }

    // dictionary style
    @if $style == dictionary {
        dt {
            display: inline;
            counter-reset: definitions;

            & + dt {
                &:before {
                    content: ", ";
                    margin-left: -0.2rem; // removes extra space between the dt and the comma
                }
            }
        }

        dd {
            display: block;
            counter-increment: definitions;

            &:before {
                content: counter(definitions, decimal) ". ";
            }
        }
    }
}