@if $use-basic == true {

// ==========================================================================
//
// BASIC TYPOGRAPHY
//
// ==========================================================================


*,
*:after,
*:before {
    box-sizing: border-box;
}


// $Base
// --------------------------------------------------------------------------

html {
    height: 100%;
    font: $font-weight #{$font-size}%/#{$line-height} $font-family;
    text-size-adjust: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    color: $color-body; 
}


// $HTML5 display definitions
// --------------------------------------------------------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


[hidden],
template {
    display: none;
}


// $Headings
// --------------------------------------------------------------------------
// styles for all headings, in the style of @csswizardry

%hN {
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
    color: $color-heading;

    &:first-child{
        margin-top: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %hN;
}


// $Small
// --------------------------------------------------------------------------

%small,
small {
    font-size: $font-base-small;
}


// $Paragraphs
// --------------------------------------------------------------------------

p {
    @include body-copy();
    @include paragraph-style($paragraph-style);

    a {
        color: $color-link;
        background: $color-link-background;
        border-bottom: 1px solid;
    }
}


// $Anchor Links
// --------------------------------------------------------------------------

a {
    color: $color-heading;
    text-decoration: none;

    &:focus {
        outline: thin dotted;
    }

    &:focus,
    &:active,
    &:hover {
        outline: 0;
        border-bottom: 1px solid;
    }
}


// $Strong
// -------------------------------------------------------------------------- 
// Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.

b,
strong {
    font-weight: bold;
}

} // endif