@if $use-media == true {

// ==========================================================================
//
// MEDIA
//
// ==========================================================================


// $Multimedia
// --------------------------------------------------------------------------
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.

audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
    display: none;
    height: 0;
}

// $Images
// --------------------------------------------------------------------------
// Remove border when inside `a` element in IE 8/9.

img {
    border: 0;
    height: auto;
    vertical-align: middle;
}

// Correct overflow displayed oddly in IE 9.

svg:not(:root) {
    overflow: hidden;
}

// Assign a class name for image replacement.

.image {
    @include image-replace();
}


// $Figures
// --------------------------------------------------------------------------
// Address margin not present in IE 8/9 and Safari 5.

figure {
    margin: 0;
}

} // endif