@if $use-media == true {

// ==========================================================================
//
// MEDIA
//
// ==========================================================================


// $Multimedia
// --------------------------------------------------------------------------

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

// $Images
// --------------------------------------------------------------------------
// Remove border when inside `a` element in IE 8/9.

img {
    border: 0;
    height: auto;
    vertical-align: middle;
}

// Correct overflow displayed oddly in IE 9.

svg:not(:root) {
    overflow: hidden;
}


// $Figures
// --------------------------------------------------------------------------
// Address margin not present in IE 8/9 and Safari 5.

figure {
    margin: 0;
}

} // endif