// ==========================================================================
//
// COPY
//
// ==========================================================================


// $Body Copy
// --------------------------------------------------------------------------

@mixin body-copy {
	word-wrap:		break-word;
	hyphens:		auto; // http://trentwalton.com/2011/09/07/css-hyphenation
	text-align:		justify;
	text-justify:	inter-word;
	max-width:		$line-length + em;
}


// $Paragraph Styles
// --------------------------------------------------------------------------

@mixin paragraph-style( $style ) {

	@if $style == indented {
		margin: 0 0 $line-height * 1em;

		& + p {
			//siblings indentation
			text-indent: $indent-val;
		}
	}

	@if $style == block {
		margin-top:		$line-height * 1em;
		margin-bottom:	0;
	}
}


// $Dropcaps
// --------------------------------------------------------------------------

@mixin dropcap( $float: left, $font-size: 5.25em, $font-family: inherit, $text-indent: 0, $margin: .3em .1em .1em 0, $padding: inherit, $color: $color-heading, $line-height: .25, $background: transparent ) {
	&:first-letter {
		float:			$float;
		margin:			$margin;
		padding:		$padding;

		text-indent:	$text-indent;
		font-size:		$font-size;
		font-family:	$font-family;
		line-height:	$line-height;

		color:			$color;
		background:		$background;
	}
}


// $Smallcaps
// --------------------------------------------------------------------------
// http://blog.hypsometry.com/articles/true-small-capitals-with-font-face

@mixin smallcaps( $color: $color-body, $weight: $font-weight-small ) {
	// depends on the font family.
	// some font-families don't support small caps
	// or don't provide them with their web font.
	font-variant:	small-caps;
	font-weight:	$weight;
	text-transform:	lowercase;
	color:			$color;
}


// $Blockquote Cites
// --------------------------------------------------------------------------

@mixin cite-style( $display: block, $text-align: right, $font-size: .875em ) {
	display:	$display;
	font-size:	$font-size;
	text-align:	$text-align;
}


// $Pull Quotes
// --------------------------------------------------------------------------
// http://24ways.org/2005/swooshy-curly-quotes-without-images

@mixin pull-quotes( $font-size: 4em, $opacity: .15 ) {
	position:	relative;
	padding:	0 ( $font-size / 2 );
	margin:		( $line-height#{em} ) $paragraph-indent 0;
	max-width:	$line-length#{em};

	&:before {
		content:	'“';
		position:	absolute;
		top:		-.3em;
		left:		0em;

		font-size:	$font-size;
		opacity:	$opacity;
	}       
}