// ==========================================================================
//
// LISTS
//
// ==========================================================================


@mixin list-style($style) {
    // lining style
    @if $style == normal {
        padding-left: $paragraph-indent;
        margin-top: $line-height * 1em;
        margin-bottom: 0;
    }

    @if $style == unstyled {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    @if $style == menu {
        margin: 0;
        padding-left: 0;
        list-style: none;

        li {
            float: left;
            margin-left: $indent-value;
        }
    }
}