// ==========================================================================
//
// PARAGRAPHS
//
// ==========================================================================


@mixin paragraph-style($style) {
	// lining style
	@if $style == indented {
		margin: 0 0 $line-height * 1em;

		& + p {
			//siblings indentation
			text-indent: $indent-val;
		}
	}

	@if $style == block {
		margin-top: $line-height * 1em;
		margin-bottom: 0;
	}
}