// ==========================================================================
//
// QUOTES
//
// ==========================================================================


// $Blockquote Cites
// --------------------------------------------------------------------------

@mixin cite-style($display:block, $text-align:right, $font-size: .875em) {
    display: $display;
    font-size: $font-size;
    text-align: $text-align;
}


// $Pull Quotes
// --------------------------------------------------------------------------
// http://24ways.org/2005/swooshy-curly-quotes-without-images
// https://github.com/typeplate/typeplate.github.com/issues/49

@mixin pull-quotes($font-size, $opacity) {
    position: relative;
    padding: $font-size;
    margin: ($line-height * 1em) $paragraph-indent 0;

    &:before,
    &:after {
        height: $font-size;
        opacity: $opacity;
        position: absolute;
        font-size: $font-size;
    }

    &:before {
        content: '“';
        top:  0em;
        left: 0em;
    }

    &:after {
        content: '”';
        bottom: 0em;
        right: 0em;
    }
}

%pull-quote {
    @include pull-quotes(4em, .15);
}
