// ==========================================================================
//
// GRID SYSTEM
//
// ==========================================================================
// Inspired by semantic.gs
// and http://dbushell.com/2013/03/19/on-responsive-layout-and-grids/


// $Micro Clearfix
// --------------------------------------------------------------------------
// http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
	*zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}


// $Baseline Guides
// --------------------------------------------------------------------------

@mixin guides() {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%);
	background-size: 100% $line-height#{rem};
}


// $Grid Mixins
// --------------------------------------------------------------------------

@mixin row( $grid-columns: $grid-columns ) {
	@include clearfix();
	margin: 0 ( $grid-gutter / -2 );
}

@mixin column( $x, $grid-columns: $grid-columns ) {
	display: block;
	float: left;
	width: ( $grid-width / $grid-columns ) * $x;
	padding: 0 ( $grid-gutter / 2 );
}

@mixin push( $offset: 1 ) {
	position: relative;
	left: ( $grid-width / $grid-columns ) * $offset;
}

@mixin pull($offset: 1) {
	position: relative;
	right: ( $grid-width / $grid-columns ) * $offset;
}